@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------- Colours ----------------------- */

.colours-pub-sign {
    background-color: blue;
    color: gold;
    border-color: gold;
}

.ui-menu-colour-bg {
    background-color: blue;
}

.welcome-colours {
    color: blue;
    background-color: white;
}


/*------------------------- Heading ----------------------- */

header {
    margin: 0;
}

.hero-image {
    background: url("../images/alexandra-outside.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.pub-sign {
    font-family: "Hahmlet", "Times New Roman", "Times", serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px #000;
    text-align: center;
    font-size: 48px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    margin: 5px;
}

.welcome {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-transform:capitalize;
    text-align: center;
    font-size: 32px;
    padding: 46px;
    margin: 0px auto;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0px;
    background-color: blue;
    padding: 5px;
}

#nav li {
    font-size: 24px;
    padding: 5px;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: gold;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: gold;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------- footer ----------------------- */

.footer {
    font-family: "Poppins", sans-serif;
    background-color: blue;
    color: gold;
    text-decoration: none;
    font-weight: 300;
}

.footer a {
    text-align: center;
    padding-top: 22px;
    display: block;
    color: gold;
    font-size: 18px;
}

/*------------------------- content ----------------------- */

.main-content {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.main-content h2 {
    color: blue;
    text-align: center;
}

.main-content p {
    padding: 10px;
    text-align: center;
}

/*------------------------- media queries ----------------------- */

@media screen and (max-width:934px) {
    

    .hero-image {
        background: url("../images/alexandra-outside-md.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 360px;
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
    }

    .pub-sign {
        font-weight: 400;
        font-size: 32px;
    }

    .welcome {
        padding: 57px;
        font-size: 24px;
    }
}

@media screen and (max-width:770px) {
    
    #hero-image {
        display: none;
    }

    .pub-sign {
        font-size: 24px;
    }

}

@media screen and (max-width:420px) {
    
    #hero-image {
        display: none;
    }

    .pub-sign {
        font-size: 24px;
    }

    .main-content {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }

    .main-content p {
    padding: 5px;
    }

}
