@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------- Colours ----------------------- */

.colours-pub-sign {
    background-color: blue;
    color: gold;
    border-color: gold;
}

.ui-menu-colour-bg {
    background-color: blue;
}

.welcome-colours {
    color: blue;
    background-color: white;
}

.bg-colour-contact {
    background-color: white;
}



/*------------------------- Container ----------------------- */

.container {
    width: 75%;
    margin: 0 auto;
    padding: 0;
}

/*------------------------- Heading ----------------------- */

header {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.hero-image {
    background: url("../images/alexandra-outside.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.pub-sign {
    font-family: "Hahmlet", "Times New Roman", "Times", serif;
    font-weight: 600;
    text-shadow: -2px 2px 2px #000;
    text-align: center;
    font-size: 48px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    margin: 5px;
}

.welcome {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-transform:capitalize;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0px;
    background-color: blue;
    padding: 5px;
}

#nav li {
    font-size: 24px;
    padding: 5px;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: gold;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.active, .active span, .active li, .active i {
    color: blue;
    background-color: white;
}

/*------------------------- content ----------------------- */

.main-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.main-content h2 {
    color: blue;
    text-align: center;
}

.main-content p {
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

/*------------------------- beers ----------------------- */

.beer-info {
    display: block;
    padding: 2px;
    border-radius: 5px;
    border:1px solid black;
}

.beer-info h2, h3, h4 {
    text-align: center;
}

.beer-info p {
    text-align: justify;
    padding: 10px;
}

.beer-info p {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}

.pumpclip {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 150px;
}

/*------------------------- rooms ----------------------- */

.room-info {
    display: block;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.room-info h2 {
    text-align: center;
}

.room-info p {
    margin: 10px;
    font-size: 16px;
    text-align: justify;
}
.room-image {
    margin: 0 auto;
    max-width: 100%;
}

/*------------------------- Contact Page ----------------------- */

.map-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.contact-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 95%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: blue;
    color: gold;
}

.contact-card {
    border: 1px solid #00F
}

/*------------------------- Footer ----------------------- */

.footer {
    font-family: "Poppins", sans-serif;
    background-color: blue;
    color: gold;
    text-decoration: none;
    font-weight: 300;
}

.footer a {
    text-align: center;
    padding-top: 5px;
    display: block;
    color: gold;
    font-size: 18px;
}

/*------------------------- media queries ----------------------- */


@media (max-width: 768px) {
  
    .container {
        padding: 0;
        width: 85%;
    }

    .pub-sign {
        font-size: 32px;
    }

}

@media (max-width: 475px) {
    
    .container {
        padding: 0;
        width: 100%;
    }

    .room-image {
        display: block;
    }

    .room-info p {
        font-size: 24px;
    }

    .beer-info p {
        font-size: 24px;
    }

    .pub-sign {
        font-size: 24px;
    }
}

@media (max-width: 275px) {
    
    .container {
        padding: 0;
        width: 100%;
    }

    .welcome {
        font-size: 100%;
    }

    .room-info p {
        font-size: 16px;
    }

    .beer-info p {
        font-size: 16px;
    }

    .pub-sign {
        font-size: 16px;
    }
}
